<div class="container">
  <div class="row">
    <% data.team.each do |member, infos| %>
      <div class="col-md-4">
        <div class="card">
          <%= image_tag infos.picture, class: "img-rounded avatar" %>
          <h2><%= member.capitalize %></h2>
          <p><%= infos.role %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
